In [ ]:
# Has the network latency gone up since we switched internet service providers?

In [2]:
# Null hypothesis: No, latency has not increased.
# Alternate hypothesis: Yes, latency has increased.
# True positive: Latency has not increased and null hypothesis accepted.
# True negative: Yes, latency has increased and null hypothesis rejected.
# Type I error: Yes, latency has increased, but the null hypothesis is rejected. 
# Type II error: No, latency has not increased, but the null hypothesis is accepted.

In [ ]:
# Is the website redesign any good?

In [ ]:
# Null hypothesis: No, the redesign is okay, but not that good.
# Alternate hypothesis: No, the redesign is actually very poor.
# True positive: The redesign is very poor, and the null hypothesis rejected.
# True negative: The redesign is okay, and the null hypothesis accepted.
# Type I error: The redesign is okay, but the null hypothesis is rejected.
# Type II error: The redesign is very poor, but the null hypothesis is rejected.

In [ ]:
# Is our television ad driving more sales?

In [ ]:
# Null hypothesis: No, television ad is not driving more sales.
# Alternate hypothesis: Yes, the television ad is driving sales higher.
# True positive: Yes, the television ad is driving more higher and the null hypothesis is rejected.
# True negative: No, the television ad is not driving more sales and the null hypothesis is accepted.
# Type I error: No, the television ad is no driving more sales but the null hypothesis is rejected.
# Type II error: Yes, the television ad is driving sales higher but the null hypothesis is accepted.

In [15]:
import pandas as pd
import numpy as np

from pydataset import data
from scipy import stats

In [ ]:
# Use the following contingency table to help answer the question of whether using a Macbook and being a Codeup student are 
# independent of each other.

In [18]:
# Form hypotheses and set a desired confidence level

# Null hypothesis: Using a Macbook and being a Codeup student are independent of each other.
# Alternative hypothesis: Using a Macbook and being a Codeup student are not independent of each other.
alpha = 0.05

In [29]:
observed = [[49,20], [1,30]]
observed

[[49, 20], [1, 30]]

In [ ]:
observed = pd.DataFrame(observed, columns=['codeup_student','not_codeup'])

In [31]:
chi2, p, degr,expected = stats.chi2_contingency(observed)

In [ ]:
# No, they are not independent of each other.

In [ ]:
# Choose another 2 categorical variables from the mpg dataset.

# State your null and alternative hypotheses.
# State your alpha.
# Perform a chi2 test of independence.
# State your conclusion

# observed = pd.crosstab(mpg['class'], mpg.cyl)
# observed

In [20]:
mpg = data('mpg')
mpg['transmission'] = mpg.trans.str[:-4] # a little cleaning goes a long way
mpg.head()

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class,transmission
1,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact,auto
2,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact,manual
3,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact,manual
4,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact,auto
5,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact,auto

In [ ]:
# Form hypotheses and set a desired confidence level

# Null hypothesis: Vehicle manufacturer and transmission type are not independent of each other.
# Alternative hypothesis: Vehicle manufacturer and transmission type are independent of each other.

alpha = 0.05

In [21]:
# Create a contingency table of observed values from the dataframe's two columns of interest.

observed = pd.crosstab(mpg['manufacturer'], mpg.trans)
observed

trans,auto(av),auto(l3),auto(l4),auto(l5),auto(l6),auto(s4),auto(s5),auto(s6),manual(m5),manual(m6)
manufacturer,,,,,,,,,,
audi,2,0,0,5,0,0,0,4,4,3
chevrolet,0,0,14,0,0,0,0,2,0,3
dodge,0,1,16,11,2,0,0,0,3,4
ford,0,0,10,5,2,0,0,0,7,1
honda,0,0,2,2,0,0,0,0,4,1
hyundai,0,0,6,1,0,0,0,0,6,1
jeep,0,0,2,6,0,0,0,0,0,0
land rover,0,0,2,0,0,0,0,2,0,0
lincoln,0,0,2,0,1,0,0,0,0,0
mercury,0,0,1,2,1,0,0,0,0,0
nissan,3,0,3,1,0,0,1,0,3,2
pontiac,0,0,4,0,0,1,0,0,0,0
subaru,0,0,5,0,0,2,0,0,7,0
toyota,0,1,11,4,0,0,2,2,13,1
volkswagen,0,0,5,2,0,0,0,6,11,3

In [22]:
# Run a chi-square test of independence

chi2, p, degf, expected = stats.chi2_contingency(observed)
p

7.163203875453806e-10

In [ ]:
# There is not a strong relationship between vehicle manufacturer and transmission type.

In [ ]:
# Use the data from the employees database to answer these questions:

# Is an employee's gender independent of whether an employee works in sales or marketing? (only look at current employees)
# Is an employee's gender independent of whether or not they are or have been a manager?

In [34]:
from env import get_db_url

In [35]:
url = get_db_url('employees')
employees = pd.read_sql('SELECT * FROM employees', url)
employees

        emp_no  birth_date first_name last_name gender   hire_date
0        10001  1953-09-02     Georgi   Facello      M  1986-06-26
1        10002  1964-06-02    Bezalel    Simmel      F  1985-11-21
2        10003  1959-12-03      Parto   Bamford      M  1986-08-28
3        10004  1954-05-01  Chirstian   Koblick      M  1986-12-01
4        10005  1955-01-21    Kyoichi  Maliniak      M  1989-09-12
...        ...         ...        ...       ...    ...         ...
300019  499995  1958-09-24     Dekang  Lichtner      F  1993-01-12
300020  499996  1953-03-07       Zito      Baaz      M  1990-09-27
300021  499997  1961-08-03    Berhard    Lenart      M  1986-04-21
300022  499998  1956-09-05   Patricia   Breugel      M  1993-10-13
300023  499999  1958-05-01     Sachin   Tsukuda      M  1997-11-30

[300024 rows x 6 columns]

In [ ]:
# Form hypotheses and set a desired confidence level

# Null hypothesis: Employee gender and whether they work in sales or marketing are independent of each other.
# Alternative hypothesis: Employee gender and whether they work in sales or marketing are not independent of each other.
alpha = 0.05

# Null hypothesis: Employee gender and whether they have been a manager work are independent of each other.
# Alternative hypothesis: Employee gender and whether they have been a manager are not independent of each other.
alpha = 0.05

In [ ]:
# set sql query
query = """
SELECT emp_no, gender, dept_name
FROM employees
    INNER JOIN dept_emp
        using(dept_no)
WHERE to_date - '9999-01-01'
    and dept_name in ('Marketing', 'Sales')
"""

In [36]:
# read in sql data
df = pd.read_sql(query, get_db_url('employees'))
df.head()

NameError: name 'query' is not defined

In [37]:
# view gender data
df.gender.value_counts(normalize=True)

NameError: name 'df' is not defined